.roadmap-container {
    position: relative;
    width: 100%;
    height: 500px; /* Full page height */
   
    object-fit: contain;
  }
  
  .roadmap-image {
    width: 100%;
    height: 500px;
    object-fit: fill; /* Adjust based on your image proportions */
  }
  
  .checkpoint {
    position: absolute;
    width: 50px;
    height: 50px;
    /* background-color: red; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    cursor: pointer;
    transform: translate(-50%, -50%); /* Center point alignment */
  }

.checkpoint-sticker {
  width: 100px; /* Adjust size of the sticker */
  height: 50px; /* Maintain aspect ratio or set specific dimensions */
  object-fit: fill;
  
}
  
  .checkpoint-label {
    position: absolute;
    top: 40px;
    /* background-color:red; */
    color: WHITE;
    font-weight: bolder;
    font-size:16px;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
  }
.name{
  position: absolute;
  top: 15%; /* Adjust to position the text vertically */
  left: 25%; /* Adjust to position the text horizontally */
  transform: translate(-50%, -50%); /* Center the text */
  color: #684883; /* Text color */
  font-size: 32px; /* Adjust font size */
  font-weight: bold; /* Make the text bold */
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); Add shadow for better readability */
}
  /* top: px; */
